## Statistical Significance of Names

In [1]:
#==== import needed libs ====#
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
from matplotlib import pyplot
import pandas as pd
import numpy as np
import datetime
import requests
import math
import lxml
import time
import csv
import io

In [11]:
names = pd.read_csv('alnavofc.csv', dtype={'Last Name': 'string', 'First Name': 'string', 'Middle Name': 'string', 'Suffix': 'string', 'Grade': 'string', 'Lineal/Precedence': np.float64, 'Year Group': np.float64, 'Designator': np.int32, 
                                           'COMPCAT': 'string', 'Date of Rank': 'string', 'Reture eligibility year': np.int32, 'Sex': 'string', 'Original Source': 'string'})
names.head()

,Last Name,First Name,Middle Name,Suffix,Grade,Lineal/Precedence,Year Group,Designator,COMPCAT,Date of Rank,Retire eligibility year,Sex,Original Source
0,AQUILINO,JOHN,CHRISTOPHER,<NA>,ADM,400.0,84.0,1310,URL,5/17/2018 0:00,2004,M,010
1,BURKE,ROBERT,PETER,<NA>,ADM,600.0,85.0,1120,URL,6/10/2019 0:00,2002,M,060
2,CALDWELL,JAMES,FRANKLIN,JR,ADM,100.0,80.0,1120,URL,8/14/2015 0:00,2001,M,010
3,GILDAY,MICHAEL,MARTIN,<NA>,ADM,700.0,85.0,1110,URL,8/22/2019 0:00,2005,M,010
4,GRADY,CHRISTOPHER,WATSON,<NA>,ADM,300.0,84.0,1110,URL,5/4/2018 0:00,2004,M,040

In [3]:
names['Suffix'] = names['Suffix'].fillna('')
names.head()

,Last Name,First Name,Middle Name,Suffix,Grade,Lineal/Precedence,Year Group,Designator,COMPCAT,Date of Rank,Retire eligibility year,Sex,Original Source
0,AQUILINO,JOHN,CHRISTOPHER,,ADM,400.0,84.0,1310,URL,5/17/2018 0:00,2004,M,010
1,BURKE,ROBERT,PETER,,ADM,600.0,85.0,1120,URL,6/10/2019 0:00,2002,M,060
2,CALDWELL,JAMES,FRANKLIN,JR,ADM,100.0,80.0,1120,URL,8/14/2015 0:00,2001,M,010
3,GILDAY,MICHAEL,MARTIN,,ADM,700.0,85.0,1110,URL,8/22/2019 0:00,2005,M,010
4,GRADY,CHRISTOPHER,WATSON,,ADM,300.0,84.0,1110,URL,5/4/2018 0:00,2004,M,040

In [5]:
names['Last Name'].describe()

count     74057
unique    31234
top       SMITH
freq        556
Name: Last Name, dtype: object

In [6]:
names.to_csv('alnavofc2.csv')

In [9]:
names.dtypes

Last Name                   object
First Name                  object
Middle Name                 object
Suffix                      object
Grade                       object
Lineal/Precedence          float64
Year Group                 float64
Designator                   int64
COMPCAT                     object
Date of Rank                object
Retire eligibility year     object
Sex                         object
Original Source             object
dtype: object

In [38]:
# names['Last Name'].value_counts()[:50].index.tolist()
names[names['Last Name'].str.endswith('EL')]['Last Name'].value_counts().to_csv('last_names.csv')

In [1]:
names[names['Last Name'].str.startswith('SM')]

NameError: name 'names' is not defined